*{
	margin: 0px;
	padding: 0px;
}
.button{
	position: center;
	padding:20px;
}
body{
	/* Fundo do Login*/
	background-image: url("../IMAGENS/fundo5.png");
	color:black;
	font-family:arial;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
input {
	/*Login*/
	display: block;
	height: 145px;
	width: 400px;
	margin: 10px;
	border-radius: 30px;
	border:2px solid black;
	font-size:16pt;
	padding:10px 20px;
    outline: none;
    text-align: center;
}
h1{
	color:white;
	padding:10px 20px;
}
#corpo-form{
	/*Login*/
	width: 420px;
	margin: 3px auto 0px auto;
}
#corpo-form-cad{
	/*Cadastro*/
	width: 420px;
	margin: 3px auto 0px auto;
}
#corpo-form h1, #corpo-form-cad{
	/* Letras */
	text-align: center;
	padding: 30px;
}
a{
	/* Letras */
	color:white;
	text-decoration:none;
	text-align:center;
	display:block;
}
a:hover{
	/* Cadastro bonito */
	text-decoration: underline;
}
input[type=submit]{
	/* botao */
	cursor: pointer;
	
}
div#msg-sucesso{
	width: 420px;
	margin: 10px auto;
	padding:10 px;
	background-color: rgba(220,220,220);
	border: 3px solid #00FF00;
	text-align:center;
	font-size: 20px;
	
	
}

div.msg-erro{
	width: 420px;
	margin: 10px auto;
	padding: 10 px;
	background-color: rgba(220,220,220);
	border: 3px solid rgb(250,0,0);
	text-align:center;
	font-size: 20px;
	
	
	
}
	